<div class="tab">
  <section class="text">

    <!-- <p>I'm a <a href="https://youtu.be/BPJ0729NVjw" target="_blank">night owl</a>. My brain wakes up around 10 a.m. and gets very animated after 6 p.m. <br/>
      As a <a href="http://www.salon.com/2014/11/10/the_truth_about_coffee_and_tea_which_is_really_better_for_your_health_partner/" target="_blank">coffee and tea drinker</a>, I feel drinking coffee is the best way to start a day and drinking green tea is the best way to end it.
    </p>
    <p>
      I'm a <a href="http://rmurphey.com/blog/2012/04/12/a-baseline-for-front-end-developers/" target="_blank">front-end developer</a>. I believe great<a href="https://www.quora.com/What-is-the-difference-between-UX-and-UI-designer-and-web-designer" target="_blank"> user interface</a> <a href="https://www.youtube.com/watch?v=_WhlMbQci18" target="_blank">is much more than "making things pretty"</a>
      , and I believe great <a href="http://www.helloerik.com/ux-is-not-ui" target="_blank">user experience</a> <a href="http://www.cooper.com/journal/2012/08/the-best-interface-is-no-interface" target="_blank"> hardly requires a screen.</a>
    </p> -->
    <!-- <img src="{{ 'assets/img/selfielins.jpg' | prepend: site.baseurl }}" alt="Selfie the old fasioned way" /> -->
    <div class="section-padding--xsm content">
      <h4>EXPERIENCES</h4>
    </div>
    <div class="section-padding--xsm content">
      <p><strong>Zions Direct</strong></p>
      <small>Salt Lake City, UT</small>
      <span>Appication Developer</span>
      <small>November 2014 – Present</small>
      <br/>
    </div>

    <div class="section-padding--xsm content">
      <p><strong>Rally Interactive</strong></p>
      <small>Salt Lake City, UT</small>
      <span>Web Developer</span>
      <small>May 2014 – October 2014</small>
    </div>
    <div class="section-padding--xsm content">
      <p><strong>Struck</strong></p>
      <small>Salt Lake City, UT</small>
      <span>Front-End Developer</span>
      <small>March 2012 - April 2014</small>
    </div>
    <div class="section-padding--xsm content">
      <p><strong>University of Utah - SCI Institute</strong></p>
      <small>Salt Lake City, UT</small>
      <span>Research Assistant</span>
      <small>August 2010 - December 2011</small>
    </div>
  </section>
  {% include archive-link.html %}
</div>
