<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="https://www.linkedin.com/in/lin-zhang-7453b639/" target="_blank" >LinkedIn</a></li>
            <li><a href="https://github.com/linzhangcs" target="_blank" >Github</a></li>
            <li><a href="https://www.instagram.com/heartsmiles/" target="_blank" >Instagram</a></li>
            <!-- <li><a href="#">Terms</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
